

  :root {
    background-color: #333;
    color: rgb(252, 231, 236);
  }

  header,
  nav,
  .question-card,
  .question-card-profile {
    background-color: rgb(12, 12, 12);
    color: rgb(252, 245, 231);
  }

 
  .bookmark {
    background-color: rgb(252, 245, 231);
    border: 1px solid rgb(12, 12, 12);
  }



  .tag {
    background-color: rgb(252, 245, 231);
  }

  footer nav a.active .lucide,
  footer nav a[aria-current="page"] .lucide {
    stroke: #111c1f;
  }


.created-questions,
.bookmarks-profile,
span {
  background-color: #333;
}

/*Farbe der svg Elemente im Footer */
button {
  color: #240425;
}
svg {
  stroke: currentColor; /*nimmt die aktuelle CSS-Farbe (color) des Elements */
}

/* Button aktiviert, Farbe leicht dunkler als in Lightmode */
.switch input:checked + .slider {
  background-color: #240425;
}
