@media screen and (prefers-color-scheme: dark) {
  :root {
    background-color: #333;
    color: rgb(252, 245, 231);
  }

  header {
    background-color: black;
    color: rgb(252, 245, 231);
  }

  nav {
    background-color: black;
  }

  .question-card {
    background-color: black;
    border-color: rgb(25, 25, 25);
  }

  .bookmark {
    background-color: rgb(252, 245, 231);
    border: 1px solid black;
  }

  .tag {
    background-color: rgb(252, 245, 231);
  }
}
