@media screen and (prefers-color-scheme: dark) {
  :root {
    background-color: #333;
    color: rgb(252, 245, 231);
  }

  header,
  nav,
  .question-card,
  .question-card-profile {
    background-color: black;
    color: rgb(252, 245, 231);
  }

 
  .bookmark {
    background-color: rgb(252, 245, 231);
    border: 1px solid black;
  }



  .tag {
    background-color: rgb(252, 245, 231);
  }

  footer nav a.active .lucide,
  footer nav a[aria-current="page"] .lucide {
    stroke: #111c1f;
  }
}

.created-questions,
.bookmarks-profile,
span {
  background-color: #333;
}

button svg {
    stroke: rgb(252, 245, 231);; /* Farbe der svg Elemente */
}