:root {
  --background-color: aquamarine;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  --global-font-color: black;
  --nav-background-color: rgb(17, 114, 114);
  --header-background-color: rgb(252, 245, 231);
}

header {
  background-color: var(--header-background-color);
  text-align: center;
  width: 100%;
  padding: 1px;
}

header h1 {
  margin: 0;
  padding: 0; /* Browser geben h1 standardmäßig margin 0.067em 0; mit*/
}

html,
body {
  color: var(--global-font-color);
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--global-font-color);
  background: var(--background-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  flex: 1;
  text-align: center;
  padding-bottom: 60px;
  box-sizing: border-box;
  background: var(--background-color);
  margin: 0;
}



header p {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

footer {
  height: 60px;
}

nav {
  background-color: var(--nav-background-color);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.lucide {
  color: blanchedalmond;
}

footer nav a.active .lucide,
footer nav a[aria-current="page"] .lucide {
  stroke: #7a177d;
  fill: none;
}

.lucide:hover {
  /*für die Navi und die Bookmarks*/
  color: rgb(79, 239, 141);
}

a:hover {
  /*für die Tags*/
  color: rgb(79, 239, 141);
}
