/* Styling von .question-card übernommen */

:root {
  --global-background-color: aquamarine;
  --global-font-color: black;
  --header-background-color: rgb(252, 245, 231);
  --profile-background: rgb(144, 200, 249);
  --profile-border: linear-gradient(
    135deg,
    #f5f5f5,
    #a9a9a9,
    #ffffff,
    #7d7d7d
  ); /*erzeugt mit mehreren Farben einen Farbverlauf und somit einen scheinenden Chromeffekt. Hebelt aber border-radius und somit abgerundete Ecken aus */
  --profile-text: #000;
  --background-color-toggle-switch: #7a177d;
  --color-svg-footer: #7a177d;
  --nav-background-color: rgb(17, 114, 114);
  --slider-background: #ccc;
  --slider-knob: white;
}

/*standardmäßig setzt der Browser ein margin rund um die Seite von 8px - dh im Darkmode würde außen ein Rand in aquamarine von 8px bleiben*/
html,
body {
  margin: 0;
  padding: 0;
}

.question-card-profile {
  position: relative; /* damit sich das bookmark an der question-card orientiert */
  background-color: var(--profile-background);
  border: 20px solid;
  border-image: var(--profile-border) 1; /*erzeugt mit mehreren Farben einen Farbverlauf und somit einen scheinenden Chromeffekt. Hebelt aber border-radius und somit abgerundete Ecken aus */
  max-width: 400px;
  /* border-radius: 8px; wird durch border-image ausgehebelt */
  padding: 10px 10px 10px 10px;
  margin: 1rem auto;
  gap: 16px;
}

.question-card-profile p,
.question-card-profile h3 {
  color: var(--profile-text);
}

.profile-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}

.question-card-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* 50% macht das Bild rund */
}

.question-card-profile h3 {
  margin: 0;
  font-size: 1.5rem;
}

.question-card-profile p {
  margin: 0;
  width: 100%;
  font-size: 2rem; /* so groß wie .question-text in den question-cards */
}

/* buttons für eigene Fragen und Bookmarks*/

button {
  background-color: var(--profile-background);
  color: var(--global-font-color);
  border: 4px solid;
  border-image: var(--profile-border) 1; /*erzeugt mit mehreren Farben einen Farbverlauf und somit einen scheinenden Chromeffekt. Hebelt aber border-radius und somit abgerundete Ecken aus */
  /* border-radius: 8px; wird durch border-image ausgehebelt */
  padding: 2px 5px 2px 5px;
}

button svg {
  color: var(--color-svg-footer); /* Farbe der svg Elemente */
}

/* Profile Settings */

.profile-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Toggle Switch für Darkmode: Eine Checkbox, die optisch wie ein Switch aussieht */
.switch {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
/* echte Checkbox verstecken */
.switch input {
  display: none;
}

/* Track (Hintergrund) */
.slider {
  width: 44px;
  height: 24px;
  background-color: var(--slider-background);
  border-radius: 999px;
  position: relative;
  transition: 0.3s;
}

/* Knopf */
.slider::before {
  content: "";
  position: absolute;
  height: 18px;
  width: 18px;
  left: 3px;
  top: 3px;
  background-color: var(--slider-knob);
  border-radius: 50%;
  transition: 0.3s;
}

/* aktiviert */
.switch input:checked + .slider {
  background-color: var(--background-color-toggle-switch);
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}

/*Darkmode für profile */
/* Vorgehen:
 1. Variable definieren (:root).
 2. Variable im Darkmode überschreiben (body.profile.dark).
 3. Diese Variable auch tatsächlich in den CSS-Regeln verwenden (background-color: var(...)).*/

body.profile.dark {
  --background-color: rgb(9, 61, 61);
  --global-font-color: #f5f5f5;
  --header-background-color: #333;
  --profile-background: #333;
  --profile-border: linear-gradient(135deg, #333, #555, #222, #444);
  --profile-text: #f5f5f5;
  --background-color-toggle-switch: #240425;
  --color-svg-footer: #240425;
  --nav-background-color: rgb(5, 34, 34);
  --slider-background: #555;
  --slider-knob: #ddd;
}

html,
body {
  background-color: var(--global-background-color);
  color: var(--global-font-color);
}

header {
  background-color: var(--header-background-color);
}

footer nav {
  background-color: var(--nav-background-color);
}

.slider {
  background-color: var(--slider-background);
}

.slider::before {
  background-color: var(--slider-knob);
}
