/* Styling von .qestion-card übernommen */

.question-card-profile {
  position: relative; /* damit sich das bookmark an der question-card orientiert */
  background-color: rgb(144, 200, 249);
  border: 20px solid rgb(234, 235, 236);
  max-width: 400px;
  border-radius: 8px;
  padding: 10px 10px 10px 10px;
  margin: 1rem auto;
  gap: 16px;
}
.profile-header{
    display:flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1rem;
}

.question-card-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* 50% macht das Bild rund */
}

.profile-card-profile h3 {
    margin: 0;
    font-size: 1.5rem;
}

.profile-card-profile p {
    margin: 0;
    width: 100%;
    font-size: 2rem; /* so groß wie .question-text in den question-cards */
}
